.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .nav-menu {
    width: 44%;
    display: flex;
    justify-content: center;
}

.header .user-btn {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header .user-btn .btn {
    padding: 25px 30px;
    border-radius: 10px;
}

.user-btn .btn.sign-in-btn {
    border: none;
}

.user-btn .btn.sign-up-btn {
    color: white;
    background-color: var(--main-color);
}

:where(.css-dev-only-do-not-override-zg0ahe).ant-drawer .ant-drawer-title {
    font-size: 2rem;
    margin-right: 42px;
}

@media screen and (max-width: 1024px) {
    :where(
            .css-dev-only-do-not-override-zg0ahe
        ).ant-menu-light.ant-menu-root.ant-menu-vertical {
        border-inline-end: none;
    }
    .user-btn {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .btn {
        height: 50px;
    }
    .sign-in-btn-mb {
        background-color: var(--main-color);
        color: #fff;
    }
    .sign-up-btn-mb {
        border: 1px solid var(--main-color);
    }
}
