.footer .footer-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .footer-box .footer-content {
    color: #b0b5b4;
    font-size: 1.8rem;
}

@media screen and (max-width: 1024px) {
    .footer .footer-box .footer-content {
        margin-top: -10px;
        font-size: 1.6rem;
    }
}
