* {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    --main-color: #1ebfc1;
    --second-color: #0d1111;
}

.styleLayout {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.styleHeader {
    padding: 0;
    position: sticky;
    top: 0;
    background: #fff;
    width: 100%;
    z-index: 1;
    margin: 0;
}

.styleContent {
    background: #fff;
    max-width: 100%;
}
