* {
    font-size: 1.6rem;
    font-family: "Montserrat", sans-serif;
}

.styleLayout {
    width: 1270px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.styleHeader {
    position: sticky;
    top: 0;
    background: #fff;
    width: 100%;
    z-index: 1;
}

.styleContent {
    background: #fff;
    width: 100%;
   padding: 0 50px;
}
